<a href="https://colab.research.google.com/github/vkrisvasan/llamaKV/blob/main/LearnGrerelAIdataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install datasets -q

In [28]:
from datasets import load_dataset
dataset = load_dataset("gretelai/synthetic_text_to_sql", split = "train")
# Filter for "Retail" domain, select first 50 rows, and choose specific columns
retail_dataset = dataset.filter(lambda example: example['domain'] == 'retail') \
                        .select(range(50)) \
                        .map(lambda example: {'domain': example['domain'],
                                              'domain_description': example['domain_description'],
                                              'sql_prompt': example['sql_prompt'],
                                              'sql': example['sql']})#,
                             #remove_columns=dataset.column_names)  # Remove all original columns
print(retail_dataset)
print(retail_dataset[0])

Map:   0%|          | 0/50 [00:00<?, ? examples/s]

Dataset({
    features: ['id', 'domain', 'domain_description', 'sql_complexity', 'sql_complexity_description', 'sql_task_type', 'sql_task_type_description', 'sql_prompt', 'sql_context', 'sql', 'sql_explanation'],
    num_rows: 50
})
{'id': 5145, 'domain': 'retail', 'domain_description': 'Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.', 'sql_complexity': 'subqueries', 'sql_complexity_description': 'subqueries, including correlated and nested subqueries', 'sql_task_type': 'analytics and reporting', 'sql_task_type_description': 'generating reports, dashboards, and analytical insights', 'sql_prompt': 'What is the percentage of products that are made from recycled materials?', 'sql_context': 'CREATE TABLE products(product_id INT, is_recycled BOOLEAN);', 'sql': 'SELECT (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM products)) as percentage FROM products WHERE is_recycled = TRUE;', 'sql_explanation': 'This query calculates the percentage of products that are made from recycled materials by dividing the count of recycled products by the total number of products.'}

In [29]:
# Iterate over the dataset and print each row in a readable format
for i, row in enumerate(retail_dataset):
    print(f"Row {i+1}:")
    for key, value in row.items():
        print(f"  {key}: {value}")
    print("-" * 20)

Row 1:
  id: 5145
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: subqueries
  sql_complexity_description: subqueries, including correlated and nested subqueries
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: What is the percentage of products that are made from recycled materials?
  sql_context: CREATE TABLE products(product_id INT, is_recycled BOOLEAN);
  sql: SELECT (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM products)) as percentage FROM products WHERE is_recycled = TRUE;
  sql_explanation: This query calculates the percentage of products that are made from recycled materials by dividing the count of recycled products by the total number of products.
--------------------
Row 2:
  id: 5352
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: single join
  sql_complexity_description: only one join (specify inner, outer, cross)
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: How many circular supply chain partners does each brand work with, by country?
  sql_context: CREATE TABLE Brands (id INT, brand VARCHAR(255), country VARCHAR(255)); INSERT INTO Brands (id, brand, country) VALUES (1, 'BrandA', 'USA'), (2, 'BrandB', 'Canada'), (3, 'BrandC', 'Mexico'); CREATE TABLE CircularSupplyChain (id INT, brand_id INT, partner_id INT, partner VARCHAR(255), country VARCHAR(255)); INSERT INTO CircularSupplyChain (id, brand_id, partner_id, partner, country) VALUES (1, 1, 1, 'Partner1', 'USA'), (2, 1, 2, 'Partner2', 'USA'), (3, 2, 3, 'Partner3', 'Canada'), (4, 2, 4, 'Partner4', 'Canada'), (5, 3, 5, 'Partner5', 'Mexico'), (6, 3, 6, 'Partner6', 'Mexico');
  sql: SELECT c.country, b.brand, COUNT(DISTINCT c.partner_id) AS partner_count FROM CircularSupplyChain c JOIN Brands b ON c.brand_id = b.id GROUP BY c.country, b.brand;
  sql_explanation: Joins the CircularSupplyChain and Brands tables on the brand_id column. Calculates the number of unique circular supply chain partners that each brand works with, grouped by country using the COUNT function, DISTINCT keyword, and GROUP BY clause.
--------------------
Row 3:
  id: 5461
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: single join
  sql_complexity_description: only one join (specify inner, outer, cross)
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: Which suppliers have provided the most circular supply chain products to our retail business?
  sql_context: CREATE TABLE suppliers (id INT, supplier_name VARCHAR(50), total_supply INT); CREATE TABLE circular_supply_chain_products (id INT, product_id INT, supplier_id INT); INSERT INTO suppliers (id, supplier_name, total_supply) VALUES (1, 'GreenVest', 2000), (2, 'EcoFarms', 1500), (3, 'CircularWear', 1200); INSERT INTO circular_supply_chain_products (id, product_id, supplier_id) VALUES (1, 1, 1), (2, 2, 1), (3, 3, 2), (4, 4, 2), (5, 5, 3);
  sql: SELECT supplier_name, SUM(total_supply) FROM suppliers JOIN circular_supply_chain_products ON suppliers.id = circular_supply_chain_products.supplier_id GROUP BY supplier_name ORDER BY SUM(total_supply) DESC;
  sql_explanation: This SQL query identifies the suppliers that have provided the most circular supply chain products to the retail business by joining the suppliers table with the circular_supply_chain_products table, grouping by supplier_name, and ordering by the sum of total_supply in descending order.
--------------------
Row 4:
  id: 5515
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: basic SQL
  sql_complexity_description: basic SQL with a simple select statement
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: What is the average product price for items produced in the USA?
  sql_context: CREATE TABLE products (product_id INT, product_name TEXT, price DECIMAL, country_of_origin TEXT); INSERT INTO products (product_id, product_name, price, country_of_origin) VALUES (1, 'T-Shirt', 20, 'USA'), (2, 'Jeans', 50, 'Italy');
  sql: SELECT AVG(price) FROM products WHERE country_of_origin = 'USA';
  sql_explanation: The SQL query calculates the average price of products by filtering the 'products' table for items from the USA and then applying the AVG() function.
--------------------
Row 5:
  id: 5544
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: aggregation
  sql_complexity_description: aggregation functions (COUNT, SUM, AVG, MIN, MAX, etc.), and HAVING clause
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: What is the maximum quantity of products that are 'recycled' and 'fair_trade' certified?
  sql_context: CREATE TABLE products (product_id INT, product_name VARCHAR(255), certification VARCHAR(255), quantity INT);INSERT INTO products VALUES (1,'Product A','recycled',5),(2,'Product B','fair_trade',10),(3,'Product C','organic',15),(4,'Product D','recycled',20),(5,'Product E','fair_trade',25),(6,'Product F','recycled, fair_trade',30);
  sql: SELECT MAX(quantity) FROM products WHERE certification IN ('recycled', 'fair_trade') GROUP BY certification HAVING COUNT(DISTINCT certification) = 2
  sql_explanation: The SQL query calculates the maximum quantity of products that are both 'recycled' and 'fair_trade' certified by using the IN operator to filter the products table based on the certification column and the GROUP BY and HAVING clauses to only consider rows where both certifications are present.
--------------------
Row 6:
  id: 5641
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: single join
  sql_complexity_description: only one join (specify inner, outer, cross)
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: What is the sum of revenues for each vendor in a specific region?
  sql_context: CREATE TABLE sales (sale_id INT, vendor_id INT, revenue DECIMAL(5,2)); INSERT INTO sales (sale_id, vendor_id, revenue) VALUES (1, 1, 100.00), (2, 1, 200.00), (3, 2, 300.00), (4, 3, 400.00), (5, 3, 500.00), (6, 4, 600.00); CREATE TABLE vendors (vendor_id INT, region TEXT); INSERT INTO vendors (vendor_id, region) VALUES (1, 'North America'), (2, 'South America'), (3, 'Europe'), (4, 'Asia');
  sql: SELECT vendors.region, SUM(sales.revenue) FROM vendors INNER JOIN sales ON vendors.vendor_id = sales.vendor_id GROUP BY vendors.region;
  sql_explanation: This query calculates the total revenue for each vendor in a specific region by selecting the region column from the vendors table, joining it with the sales table on the vendor_id column, and then grouping the results by region using the GROUP BY clause. The total revenue for each region is calculated using the SUM() function.
--------------------
Row 7:
  id: 5843
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: subqueries
  sql_complexity_description: subqueries, including correlated and nested subqueries
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: Who are the vendors in Illinois selling the most expensive product?
  sql_context: CREATE TABLE vendors (vendor_id INT, vendor_name VARCHAR(50), state VARCHAR(50)); INSERT INTO vendors VALUES (1, 'VendorA', 'Illinois'); INSERT INTO vendors VALUES (2, 'VendorB', 'Texas'); CREATE TABLE products (product_id INT, product_name VARCHAR(50), vendor_id INT, price DECIMAL(5,2)); INSERT INTO products VALUES (1, 'Product1', 1, 150); INSERT INTO products VALUES (2, 'Product2', 1, 75); INSERT INTO products VALUES (3, 'Product3', 2, 100); INSERT INTO products VALUES (4, 'Product4', 1, 200);
  sql: SELECT vendors.vendor_name FROM vendors JOIN products ON vendors.vendor_id = products.vendor_id WHERE vendors.state = 'Illinois' AND products.price = (SELECT MAX(price) FROM products WHERE products.vendor_id = vendors.vendor_id);
  sql_explanation: First, join the vendors and products tables based on the vendor_id. Then, filter the joined table for vendors located in Illinois. Next, select the vendor_name from the joined table where the price equals the maximum price for each vendor.
--------------------
Row 8:
  id: 5905
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: aggregation
  sql_complexity_description: aggregation functions (COUNT, SUM, AVG, MIN, MAX, etc.), and HAVING clause
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: List the total quantity of products for each material category.
  sql_context: CREATE TABLE product (product_id INT, name VARCHAR(255), quantity INT, material VARCHAR(255)); INSERT INTO product (product_id, name, quantity, material) VALUES (1, 'Organic Cotton T-Shirt', 30, 'organic cotton'), (2, 'Polyester Hoodie', 20, 'polyester'), (3, 'Bamboo Socks', 50, 'bamboo');
  sql: SELECT material, SUM(quantity) FROM product GROUP BY material;
  sql_explanation: The query calculates the total quantity of products for each material category by using GROUP BY clause on the material column and SUM() function on the quantity column.
--------------------
Row 9:
  id: 6037
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: single join
  sql_complexity_description: only one join (specify inner, outer, cross)
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: List the unique product categories that have been certified as fair trade.
  sql_context: CREATE TABLE Products (product_id INT, category TEXT); INSERT INTO Products (product_id, category) VALUES (1, 'Tops'), (2, 'Pants'), (3, 'Tops'), (4, 'Shoes'); CREATE TABLE FairTradeCertifications (product_id INT, certified BOOLEAN); INSERT INTO FairTradeCertifications (product_id, certified) VALUES (1, TRUE), (2, FALSE), (3, TRUE), (4, TRUE);
  sql: SELECT DISTINCT category FROM Products INNER JOIN FairTradeCertifications ON Products.product_id = FairTradeCertifications.product_id WHERE FairTradeCertifications.certified = TRUE;
  sql_explanation: The SQL query performs an INNER JOIN between the Products and FairTradeCertifications tables on the product_id column, filters the records where certified is TRUE, and lists the unique product categories that have been certified as fair trade by using the DISTINCT keyword.
--------------------
Row 10:
  id: 6040
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: single join
  sql_complexity_description: only one join (specify inner, outer, cross)
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: What is the total quantity of products sold by suppliers who follow ethical labor practices?
  sql_context: CREATE TABLE suppliers (supplier_id INT, follows_ethical_practices BOOLEAN); INSERT INTO suppliers (supplier_id, follows_ethical_practices) VALUES (1, TRUE), (2, FALSE), (3, TRUE); CREATE TABLE sales (sale_id INT, supplier_id INT, quantity_sold INT);
  sql: SELECT SUM(quantity_sold) FROM sales INNER JOIN suppliers ON sales.supplier_id = suppliers.supplier_id WHERE suppliers.follows_ethical_practices = TRUE;
  sql_explanation: Joins the sales and suppliers tables, filters for rows where the supplier follows ethical practices, and calculates the sum of quantity_sold.
--------------------
Row 11:
  id: 6091
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: basic SQL
  sql_complexity_description: basic SQL with a simple select statement
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: Identify brands that have increased their product count by more than 50% since last year.
  sql_context: CREATE TABLE brands(brand_id INT, brand_name TEXT, products_last_year INT, products_this_year INT); INSERT INTO brands(brand_id, brand_name, products_last_year, products_this_year) VALUES (1, 'BrandA', 200, 300), (2, 'BrandB', 500, 700), (3, 'BrandC', 1000, 1200), (4, 'BrandD', 800, 700), (5, 'BrandE', 900, 1000);
  sql: SELECT brand_id, brand_name, ((products_this_year - products_last_year) * 100.0 / products_last_year) as growth_percentage FROM brands WHERE (products_this_year - products_last_year) > 0.5 * products_last_year ORDER BY growth_percentage DESC;
  sql_explanation: The SQL query identifies brands that have increased their product count by more than 50% since last year. It calculates the growth percentage by subtracting the number of products last year from the number of products this year, dividing the result by the number of products last year, and multiplying by 100. It then filters the results to only include brands with a growth percentage greater than 50%. Finally, it orders the results by the growth percentage in descending order.
--------------------
Row 12:
  id: 6189
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: basic SQL
  sql_complexity_description: basic SQL with a simple select statement
  sql_task_type: data manipulation
  sql_task_type_description: inserting, updating, or deleting records
  sql_prompt: Insert records into the 'supplier_ethics' table
  sql_context: CREATE TABLE supplier_ethics (supplier_id INT, country VARCHAR(50), labor_practices VARCHAR(50), sustainability_score INT); INSERT INTO supplier_ethics (supplier_id, country, labor_practices, sustainability_score) VALUES (1, 'India', 'Good', 80); INSERT INTO supplier_ethics (supplier_id, country, labor_practices, sustainability_score) VALUES (2, 'Brazil', 'Fair', 70);
  sql: INSERT INTO supplier_ethics (supplier_id, country, labor_practices, sustainability_score) VALUES (1, 'India', 'Good', 80); INSERT INTO supplier_ethics (supplier_id, country, labor_practices, sustainability_score) VALUES (2, 'Brazil', 'Fair', 70);
  sql_explanation: 1. The 'INSERT INTO' command adds rows into the 'supplier_ethics' table. 2. The first row has a supplier_id of 1, is from India, has good labor practices, and has a sustainability score of 80. 3. The second row has a supplier_id of 2, is from Brazil, has fair labor practices, and has a sustainability score of 70.
--------------------
Row 13:
  id: 6230
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: basic SQL
  sql_complexity_description: basic SQL with a simple select statement
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: Calculate the average CO2 emissions for products made in Germany.
  sql_context: CREATE TABLE co2_emissions (product_id INT, product_name TEXT, co2_emissions INT); INSERT INTO co2_emissions (product_id, product_name, co2_emissions) VALUES (1, 'Leather Jacket', 50), (2, 'Wool Sweater', 30);
  sql: SELECT AVG(co2_emissions) FROM co2_emissions WHERE product_name IN ('Leather Jacket', 'Wool Sweater') AND country_of_origin = 'Germany';
  sql_explanation: The SQL query calculates the average CO2 emissions for products made in Germany by filtering the 'co2_emissions' table for product name and country of origin and then applying the AVG() function.
--------------------
Row 14:
  id: 6411
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: single join
  sql_complexity_description: only one join (specify inner, outer, cross)
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: What is the total quantity of products manufactured in the USA, pivoted by month?
  sql_context: CREATE TABLE sales (sale_id INT, product_id INT, quantity INT, sale_date DATE, made_in_usa BOOLEAN); INSERT INTO sales (sale_id, product_id, quantity, sale_date, made_in_usa) VALUES (1, 1, 10, '2021-01-01', true); CREATE TABLE products (product_id INT, product_name VARCHAR(255)); INSERT INTO products (product_id, product_name) VALUES (1, 'American Flag');
  sql: SELECT EXTRACT(MONTH FROM sale_date) AS month, made_in_usa, SUM(quantity) AS total_quantity FROM sales JOIN products ON sales.product_id = products.product_id WHERE made_in_usa = true GROUP BY month, made_in_usa;
  sql_explanation: The SQL query joins the sales and products tables, filters for products made in the USA (where made_in_usa is true), groups the data by month and country of manufacture, and calculates the total quantity of products made in the USA sold per month using the SUM() function.
--------------------
Row 15:
  id: 6520
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: basic SQL
  sql_complexity_description: basic SQL with a simple select statement
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: What is the average salary of factory workers in the Southeast Asia region?
  sql_context: CREATE TABLE Factory_Workers (worker_id INT, worker_name TEXT, salary DECIMAL, region TEXT);
  sql: SELECT AVG(salary) FROM Factory_Workers WHERE region = 'Southeast Asia';
  sql_explanation: This query calculates the average salary of factory workers in the Southeast Asia region. It uses the AVG function to calculate the average salary of factory workers in the Southeast Asia region.
--------------------
Row 16:
  id: 6551
  domain: retail
  domain_description: Retail data on circular supply chains, ethical labor practices, product transparency, and consumer education.
  sql_complexity: basic SQL
  sql_complexity_description: basic SQL with a simple select statement
  sql_task_type: analytics and reporting
  sql_task_type_description: generating reports, dashboards, and analytical insights
  sql_prompt: Count the number of products that have a Fair Trade, Rainforest Alliance, or organic certification.